/* GLOBAL STYLES */

:root {
  --text-color: #6b6a6a;
  --titles-color: #474445;
  --links-color: #557a44;
  --links-hover-color: #afc989;
}

body {
  font-family: "Baskervville", serif;
  letter-spacing: 1px;
  text-align: center;
}
h2 {
  color: var(--titles-color);
  font-size: 25px;
  letter-spacing: 6px;
}

h3 {
  margin-top: 20px;
}

tr {
  color: var(--text-color);
  font-size: 8px;
}

th {
  color: var(--titles-color);
}

em {
  color: var(--links-color);
  display: block;
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
}

.container {
  box-shadow: rgba(37, 39, 39, 0.1) 0px 8px 8px 0px;
  margin: 0 auto;
  max-width: 100%;
  width: 480px;
  height: 100vh;
  align-items: center;
}

.content {
  margin-left: 35px;
  margin-right: 35px;
}

.intro,
.info {
  color: var(--text-color);
  font-size: 16px;
  margin: 0 auto;
}
.invition_header {
  max-width: 100%;
  margin: 2rem;
  /* position: relative; */
  transform: scale(0.35, 0.35);
  bottom: 100px;
  width: 100% \9;
}

.invite {
  background-image: url(plant-img.png);
  background-size: 480px 100vh;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
}
.rows {
  margin: 0 auto 0 auto;
}

.main-title {
  color: var(--titles-color);
  font-size: 14px;
}

/* LINKS */

a {
  color: var(--links-color);
  font-size: 10px;
  text-underline-offset: 2px;
  text-decoration: none;
}

a:hover {
  color: var(--links-hover-color);
}

/* INVITE */

.logo {
  position: relative;
  text-align: center;
}

.text {
  font-size: 1.6em;
  position: absolute;
}

.laura {
  top: 0;
  left: 0;
  font-size: 1.6em;
}

.ampersand {
  top: 80px;
  left: 0;
  font-style: italic;
}

.javery {
  top: 160px;
  left: 0;
  font-size: 1.6em;
}

.pau-rafa {
  margin: 2rem;
  transform: scale(0.35, 0.35);
  bottom: 100px;
  width: 100% \9;
}

.invite-header {
  max-width: 100%;
}
.map-icon {
  color: #28a745;
  display: inline-block;
}
.map-link:hover {
  color: var(--links-hover-color);
}
.location-icon {
  color: rgb(248, 124, 96);
  font-size: 18px;
}

@media (max-width: 540px) {
  h2 {
    font-size: 23px;
    letter-spacing: 5px;
  }

  h3 {
    margin-top: 18px;
  }
  p,
  a {
    font-size: 15px !important;
  }
  .content {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .pau-rafa {
    margin-top: 30px;
    transform: scale(0.4, 0.4);
  }

  .container {
    background-position: center;
    max-width: 100%;
  }

  .timeline::before {
    height: 248px;
  }
}
@media (max-width: 428px) {
  .invite {
    background-size: 428px 100vh;
  }
}

@media (max-width: 385px) {
  .invite {
    background-size: 383px 100vh;
  }
  h2 {
    font-size: 20px;
    letter-spacing: 5px;
  }

  h3 {
    margin-top: 15px;
  }

  p,
  a {
    font-size: 14px !important;
  }
  .nav-link {
    font-size: 12px;
  }

  .pau-rafa {
    margin-top: 40px;
  }

  .content {
    margin-top: 70px;
  }

  .main-title {
    font-size: 13px;
  }

  .timeline::before {
    height: 250px;
  }
}
@media (max-width: 360px) {
  .invite {
    background-size: 365px 100vh;
  }
  h2 {
    font-size: 18px;
    letter-spacing: 5px;
  }

  h3 {
    margin-top: 13px;
  }

  p,
  a {
    font-size: 13px !important;
  }
}
@media (max-width: 345px) {
  .invite {
    background-size: 345px 100vh;
  }
}

@media (max-width: 300px) {
  .invite {
    background-size: 315px 100vh;
  }
  h2 {
    font-size: 18px;
    letter-spacing: 5px;
  }

  h3 {
    margin-top: 13px;
  }

  p,
  a {
    font-size: 12px !important;
  }
}
@media (max-width: 280px) {
  h2 {
    font-size: 17px;
    letter-spacing: 5px;
  }

  h3 {
    margin-top: 12px;
  }

  p,
  a {
    font-size: 11px !important;
  }
}
